
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar */
nav {
    border-bottom:2px solid#b6baba55;
    border-left:2px solid #b6baba55;
    border-right:2px solid #b6baba55;
    margin:20px 20px;
   
}
.iconeport {
    position:relative;
    width:200px;
    left:5rem;
    bottom:135px;
}
nav ul {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    list-style: none;
    height:3rem;
    padding:3rem 0;
    
}
nav ul a {
    text-decoration: none;
    color:rgb(162, 159, 156);
    margin:50px;
    font-size: larger;
}
/* Efeito botão navbar */
nav a {

text-decoration: none;
background-image: linear-gradient(#8decff, #27a1f3);
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 100%;
background-repeat: no-repeat;
transition: background-size 0.3s ease-out;
padding-bottom:40px;
}
nav a:hover, nav a:focus, nav a:active {
background-size: 100% 0.2em;
background-position-x: 0%;
color:#58bbff;
}
/* Cabeçalho */
header {
    text-align: center;
    color:#677481;
    font-size: 22px;
    padding-bottom: 2rem;
    border-bottom:2px solid #b6babaaa
}
/* Section Projetos */
.projetos {
    display:flex;
    justify-content: space-evenly;
    margin:8rem;
    
    
}
.projetos-img {
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    
}
.projetos-img img {
    height: 250px;
}

.imgsocial {
    position:relative;
    
}
/* Projetos Botões e Textos */

.overlay {
    display:block;
    position:absolute;
    left:10;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: #6f8091;
    text-align: center;
    line-height: 70px;
    color:#59bcfe;
}
.overlay p {
    color:#c2c8ce;
}
.button-img {
    position: relative;
    padding:10px 20px;
    border-radius: 5px;
    background:linear-gradient(90deg,#59bcfe, #00e1ff);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border:none;
    color:#fff;
    cursor:pointer;
    top:2rem;
    transition: 1s ease;
}
.overlay:hover {
    opacity: 1;
}
.button-img:hover {
    background:linear-gradient(90deg,#00e1ff, #59bcfe);
    
}
